.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: left 0.4s ease; 
}

.active {
    left: 0;
    display:block;
}

.popup-content { 
    display:flex; 
    flex-direction: column; 
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 60%;
    width: 100%;
    margin: 0 2px;
}

.close-button { 
    align-self: flex-end;
    font-size: 24px;
    cursor: pointer;
    color: crimson; 
    background-color: transparent;
    border:none; 
    padding:8px; 
    z-index:9; 
    line-height:25px; 
    padding:0; 
    width:25px;
}

.close-button:hover {
    color: white;
}

.cta-title { 
  color:white ;
  font-style:bold;
  font-size:2em; 
  align-self:center;
}

.cta-links {
  color:crimson;
} 

.cta-links ul {
  list-style: none;
} 

.cta-links ul>li {
  padding:10px 5px; 
  border-bottom:1px solid white;
} 

.cta-links ul > li > i {
  margin:8px;
  cursor:pointer;
}

.cta-links ul > li > a {
  text-decoration:none; 
  color:crimson;
}


@media screen and (max-width:768px) {
  .popup-content {
      width:100% !important; 
      max-width: 100%; 
  } 
  .cta-form textarea {
    height:70%;
  }
}